h2 {
  margin: 2% 0 ;
}
svg {
  background-color: #ccc;
  border: 1px solid black;
  height: 400px;
  width: 600px;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 1rem;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path{
  display: none;
}